* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2B2B2B;
}

#overlay {
  display: none;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index:1001;
}

#overlay-content {
  position: absolute;
  color: orange;
  display: none;
  text-align: center;
  display: none;
  width: 360px;
  height: 90px;
  padding: 16px;
  z-index:1010;
}

.page-loader {
  background: #2B2B2B none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.loader {
  height: 8px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 50%;
  width: 44px;
}

.dot {
  background: #ccc none repeat scroll 0 0;
  border-radius: 50%;
  bottom: -60px;
  right: 40px;
  display: inline-block;
  height: 10px;
  position: absolute;
  width: 10px;
}

.dot_1 {
  animation: 2.5s linear 0s normal none infinite running animateDot1;
  background: #f26f29 none repeat scroll 0 0;
  left: 12px;
}.dot_2 {
  animation: 2.5s linear 0.5s normal none infinite running animateDot2;
  left: 24px;
}.dot_3 {
  animation: 2.5s linear 0s normal none infinite running animateDot3;
  left: 12px;
}.dot_4 {
  animation: 2.5s linear 0.5s normal none infinite running animateDot4;
  left: 24px;
}

@keyframes animateDot1 {
  0% {
  transform: rotate(0deg) translateX(-12px);
  }
  25% {
  transform: rotate(180deg) translateX(-12px);
  }
  75% {
  transform: rotate(180deg) translateX(-12px);
  }
  100% {
  transform: rotate(360deg) translateX(-12px);
  }
}
@keyframes animateDot2 {
  0% {
  transform: rotate(0deg) translateX(-12px);
  }
  25% {
  transform: rotate(-180deg) translateX(-12px);
  }
  75% {
  transform: rotate(-180deg) translateX(-12px);
  }
  100% {
  transform: rotate(-360deg) translateX(-12px);
  }
}
@keyframes animateDot3 {
  0% {
  transform: rotate(0deg) translateX(12px);
  }
  25% {
  transform: rotate(180deg) translateX(12px);
  }
  75% {
  transform: rotate(180deg) translateX(12px);
  }
  100% {
  transform: rotate(360deg) translateX(12px);
  }
}
@keyframes animateDot4 {
  0% {
  transform: rotate(0deg) translateX(12px);
  }
  25% {
  transform: rotate(-180deg) translateX(12px);
  }
  75% {
  transform: rotate(-180deg) translateX(12px);
  }
  100% {
  transform: rotate(-360deg) translateX(12px);
  }
}

.principal-section {
  color: orange;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.titulo {
  font-size: 35px;
  text-align: center;
}

hr {
  width: 100%;
}

#maps {
  width: 100%;
  height: 70%;
}

.subtitulo {
  color: orange;
  font-size: 28px;
  text-align: center;
}

#dropdownMenu1 {
  width: 90%;
  color: #9e9c9c;
  margin-top: 5px;
  margin-left: 17px;
  cursor: pointer;
}

.dropdown-menu {
  width: 90%;
  text-align: center;
  padding-top: 10px;
  margin-left: 17px;
}

.dropdown-menu:hover {
  background-color: gray;
}

.container {
  width: 100%;
}

.photos {
  text-align: center;
}
.photos img {
  width: 40%;
  height: 100px;
  margin-top:20px;
  border: 2px solid black;
  border-radius: 6px;
  object-fit: cover;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.photos img:hover {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.photos2 {
  text-align: center;
}
.photos2 img {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  border-radius: 6px;
  object-fit: cover;
  border: 2px solid black;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.photos2 img:hover {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.photos3 {
  text-align: center;
}
.photos3 img {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  border-radius: 6px;
  object-fit: cover;
  border: 2px solid black;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.photos3 img:hover {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.photos4 {
  text-align: center;
}
.photos4 img{
  width: 100%;
  height: 100px;
  margin-top: 15px;
  border-radius: 6px;
  object-fit: cover;
  border: 2px solid black;-webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.photos4 img:hover {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.photos5 {
  text-align: center;
}
.photos5 img {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  border-radius: 6px;
  object-fit: cover;
  border: 2px solid black;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.photos5 img:hover {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.mapa {
  width: 100%;
}

.fa-star {
  color: #E7711B;
}

.fa-star-half-o {
  color: #E7711B;
}

.fa-star-o {
  color: #D1D1D1;
}

#star {
  color: #E7711B;
}

.num {
  color: #E7711B;
}

.inicio {
  text-align: center;
}

a {
  color: orange;
}

#pedir {
  text-align: center;
  background-color: orange;
  color: #fff;
  width: 100%;
}